<!DOCTYPE html>
<html>
<head>
    <title>Employee Demo App</title>

    <style>

body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
margin-top:50px;
}

.container{

background:white;
padding:40px;
width:600px;
margin:auto;
border-radius:10px;
box-shadow:0px 0px 10px gray;

}

h1{

color:green;

}

</style>

</head>

<body>

<div class="container">

<h1>Employee Management System</h1>

<h2>Successfully deployed using Argo CD</h2>

<hr>

<h3>Hostname</h3>

{{hostname}}

<h3>Current Time</h3>

{{time}}

<h3>Application Version</h3>

{{version}}

</div>

</body>

</html>
